<h2 class="d-flex justify-content-between">
  Tweets
  {{query.user}}

  <a class="btn btn-primary btn-sm" href="/tweets/new">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-plus"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
      ></path>
    </svg>
    new
  </a>
</h2>

<form>
  <input
    value="{{query.search}}"
    name="search"
    type="text"
    class="form-control"
    placeholder="Search"
  />
</form>

<!-- GET /tweets?search=javi -->

<a class="btn btn-link btn-sm" href="/tweets?sort=asc">switch order</a>

<hr />

{{#each tweets as |tweet|}}
  <div class="card mb-3">
    {{#if tweet.image}}
      <img src="{{tweet.image}}" class="card-img-top" alt="..." />
    {{/if}}

    <div class="card-body">
      <h5 class="card-title">
        <a href="/tweets?user={{tweet.user}}">
          @{{tweet.user}}
        </a>
      </h5>
      <p class="card-text">{{tweet.message}}</p>

      <small class="card-text d-block mb-2">{{date tweet.createdAt}}</small>

      <a href="/tweets/{{tweet.id}}" class="btn btn-primary btn-sm">Detail</a>
      <a href="/tweets/{{tweet.id}}" class="btn btn-danger btn-sm">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-heart-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
          ></path>
        </svg>
        Like
      </a>
    </div>
  </div>
{{/each}}